name: CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  Build:
    runs-on: windows-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v2

    - name: Setup MSBuild
      uses: microsoft/setup-msbuild@v1
      with:
        msbuild-version: '17.9.x'

    - name: Setup NuGet
      uses: NuGet/setup-nuget@v1.0.5

    - name: Restore NuGet packages
      run: nuget restore WebPatient/WebPatient.sln

    - name: Build the Solution
      run: msbuild WebPatient/WebPatient.sln /p:Configuration=Release

    - name: Run Unit Tests
      run: dotnet test WebPatient.Test/WebPatient.Test.csproj --no-build --verbosity normal

    - name: Run Integration Tests
      run: dotnet test WebPatient.IntegrationTest/WebPatient.IntegrationTest.csproj --no-build --verbosity normal
