name: CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  Build:
    runs-on: windows-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v2

    - name: Setup MSBuild
      uses: microsoft/setup-msbuild@v1
      with:
        msbuild-version: '17.9.x' 

    - name: Setup NuGet
      uses: NuGet/setup-nuget@v1.0.5

    - name: Run Tests
      run: dotnet test WebPatient.Test/WebPatient.Test.csproj --no-build --verbosity normal
      working-directory: pipeline-csharp  

    - name: Build the Solution
      run: msbuild WebPatient.sln /p:Configuration=Release
      working-directory: pipeline-csharp  
